@import '../../scss/colors';
@import '../../scss/mixins';

.week {
  width: 20rem;
  min-height: 14rem;
  //background-color: $sunflower;
}

.week__navigation {
  @include flex('row');
  cursor: pointer;

}

.week-navigation__month {
  flex-grow: 2;
  text-align: center;
}

.week-navigation__before {
  flex-grow: 1;
}

.week-navigation__next {
  text-align: right;
  flex-grow: 1;
}

.week__weekdays {
  @include flex('row');
  text-align: center;
  font-size: 0.8em;
  span {
    flex-basis: 14%;
    text-align: center;
  }

}

.week__days {
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  text-align: center;
}

.week__day {
  flex-basis: 14%;
  //width: 1em;
  text-align: center;

}

.weekview {
  @include flex('row');
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.inactive {
  color: $recess_base_2;
}

.today {
  font-weight: bolder;
}


.chart {
  display: block;
  width: 20rem;
  height: 14rem;

  background-color: $alizarin;

}

.chart__detail {
  display: block;
  width: 100%;
  height: 100%;

  .highcharts-container {

    height: 14rem;
    max-height: 14rem;
    width: 20rem;
  }


}

.highcharts-series-group {
  width: 1rem;
}

.highcharts-point {
  width: 1rem !important;
}


