@import '../../scss/colors';
@import '../../scss/mixins';

.login {
  background-color: $sunflower;
  height: 100%;
  width: 100%;
  padding: 10%;
}

.login__card {
  margin: 0 auto;
}

.login-card__title {
  background-color: $recess_base_contrast_1;
  color: $recess_font_base;
  @include flex();
  text-align: center;
  h1 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }
  img {
    width: 100%;
  }
}

.login-card__actions {

}

.button-login {
  @include flex('row');
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.button-login__logo {
  height: 2rem;
  width: 4rem;
  padding: 0 1rem;
}

.button-login__text {
  align-self: stretch;
  width: 100%;
  line-height: 2rem;
}
