<div class="login">
  <div class="login__card mdl-card mdl-shadow--2dp">
    <div class="login-card__title mdl-card__title mdl-card--expand">
      <img src="assets/recess-white.png"/>
      <h1>Recess Administration</h1>
    </div>
    <div class="login-card__actions mdl-card__actions">
      <div (click)="login()" class="button-login">
        <img class="button-login__logo" src="assets/google.svg"/>
        <span class="button-login__text">Login with Google</span>
      </div>

    </div>
  </div>
</div>


