<header class="header">
  <span class="header__breadcrumb">
    <i class="material-icons">person</i>
    <span>Alias: </span>
    <span class="header-breadcrump__alias">{{ (user | async)?.alias }}</span>
    <span>&nbsp; Id: </span>
    <span class="header-breadcrump__id">{{ (user | async)?.uid }}</span>


  </span>

  <span class="header__chat" (click)="toggleChat()">
    <i class="material-icons">forum</i>
  </span>

</header>

<section class="chat" *ngIf="isChatOpen">
  <span class="chat__header">
    <span class="chat__header_item" (click)="deactivateSettings()">Conversation</span>
    <span class="chat__header_item" (click)="activateSettings()">Settings</span>
    <div>
      <i class="material-icons" (click)="toggleChat()">close</i>
    </div>

  </span>

  <div class="chat__conversation" [hidden]="settingsActive">

    <div class="chat__messages">
      <div *ngFor="let item of items | async" class="chat-messages__message"
           [ngClass]="{'chat-messages__message-self': item.uid == id}">

        <div>
          {{ item?.alias || item.uid }} - {{item.timestamp | date:'HH:mm'}}
        </div>
        <div class="chat-messages-message__item">
          <div class="chat-messages-message__bubble">{{item.text}}</div>
          <div></div>
        </div>
      </div>
    </div>

    <div class="chat__inputfield">

      <div class="chat-inputfield__text">
        <label class="chat-inputfield-text__label" for="{{conversation.uid}}">{{ conversation.alias }}</label>
        <input class="chat-inputfield-text__input" type="text" id="{{conversation.uid}}" placeholder="message..."
               [(ngModel)]="chattext">
      </div>

      <div class="chat-inputfield__submit">
        <i class="material-icons" (click)="sendMessage()">send</i>
      </div>

    </div>
  </div>

  <div class="chat__settings" [hidden]="!settingsActive">
    {{conversation.type}}
    <div class="chat__settings--info">
      <span class="chat-settings__userhighlight">{{ (user | async)?.alias }}</span>
      <i class="material-icons">swap_horiz</i>
      <span class="chat-settings__userhighlight"><i class="material-icons">forum</i>{{conversation.alias}}</span>
    </div>

    <div>
      <i class="material-icons">groups</i>
      <span>Participants</span>
    </div>

    <div class="chat-settings__userlist">
      <div *ngFor="let user of users | async" class="chat-settings-userlist__user"
           [ngClass]="{'chat-settings-userlist__user--active': user.user.uid === conversation.uid}">
        <input type="radio" id="chatwith-{{user.user.uid}}" name="selector"
               [checked]="user.user.uid === conversation.uid"
               (change)="onSelectionChange(user.user.uid)">
        <label for="chatwith-{{user.user.uid}}">{{user.user.alias}}</label>
      </div>
    </div>

    <div>
      <i class="material-icons">android</i>
      <span>Bots</span>
    </div>

    <div *ngFor="let bot of bots | async" class="chat-settings-userlist__user"
         [ngClass]="{'chat-settings-userlist__user--active': bot.bot.uid === conversation.uid}">
      <input type="radio" id="chatwith-{{bot.bot.uid}}" name="selector"
             [checked]="bot.bot.uid === conversation.uid"
             (change)="onSelectionChangeBot(bot.bot.uid)">
      <label for="chatwith-{{bot.bot.uid}}">{{bot.bot.alias}}</label>
    </div>



  </div>


</section>

<div class="content">

  <div class="content__tile content__tile--20">
    <header class="content-tile__header">
      <div class="content-tile-header__title">
        User Info
      </div>
    </header>
    <section class="content-tile__content">
      <div class="content-tile-content__checkbox">
        <span>Chat enabled</span>
        <label class="switch green"><input type="checkbox" [ngModel]="(config | async)?.chat.isActive"
                                           (change)="toggleChatActive($event)"><i></i></label>
      </div>

      <div class="content-tile-content__text">
        <span>Created at</span>
        <span class="content-tile-content-text--value">{{ (user | async)?.timestamp | date:'medium'}}</span>
      </div>

      <div class="content-tile-content__text">
        <span>Group</span>
        <span class="content-tile-content-text--value">{{ (user | async)?.group }}</span>
      </div>

      <div class="content-tile-content__text">
        <span>Type</span>
        <span class="content-tile-content-text--value">{{ (user | async)?.type }}</span>
      </div>

      <div class="content-tile-content__text">
        <span>Push Notification token</span>
        <span title="{{(user | async)?.pushToken}}" class="content-tile-content-text--value">{{ (user | async)?.pushToken | slice:0:5 }}</span>
      </div>

    </section>

  </div>

  <div class="content__tile content__tile--20">
    <header class="content-tile__header">
      <div class="content-tile-header__title">
        Device Info
      </div>
    </header>
    <section class="content-tile__content">
      <div class="content-tile-content__text">
        <span>Recess App Version</span>
        <span class="content-tile-content-text--value">{{ (device | async)?.appVersion }}</span>
      </div>
      <div class="content-tile-content__text">
        <span>Manufacturer</span>
        <span class="content-tile-content-text--value">{{ (device | async)?.manufacturer }}</span>
      </div>

      <div class="content-tile-content__text">
        <span>Model</span>
        <span class="content-tile-content-text--value">{{ (device | async)?.model }}</span>
      </div>

      <div class="content-tile-content__text">
        <span>Platform</span>
        <span class="content-tile-content-text--value">{{ (device | async)?.platform }}</span>
      </div>

      <div class="content-tile-content__text">
        <span>Platform version</span>
        <span class="content-tile-content-text--value">{{ (device | async)?.version }}</span>
      </div>


    </section>

  </div>


  <div class="content__tile content__tile--20">
    <header class="content-tile__header">
      <div class="content-tile-header__title">
        Steps this week
      </div>
    </header>
    <section class="content-tile__content">

      <app-user-steps-week [steps]=" (steps | async) " [userid]=" (user | async)?.uid "></app-user-steps-week>

    </section>

  </div>
</div>



