<div class="tile" *ngFor="let user of users | async" [ngClass]="{'title--active': selectedUser == user.$key}">
  <div class="tile-header">
    <div class="tile-header__title" >

      <span class="title-header-title__icon">
        <i class="material-icons">person</i>
      </span>

      <div class="title-header-title__info" (click)='userDetails(user.user.uid)'>
        <div>

          <!-- <span class="title-header-title-info__uid">{{user.$key | slice:0:5}}</span> -->
          <!-- <span> - </span> -->
          <span class="title-header-title-info__nickname">{{user.user.alias}}</span>

        </div>
        <div class="title-header-title-info__device">
          Device: <span>{{user.device?.manufacturer || "N/A" }}</span>, <span>{{user.device?.model || "N/A" }}</span>
        </div>

      </div>

    </div>

    <div class="title-header__stats">
      <!-- TODO -->
    </div>

  </div>
  <!--
  <div class="tile-header__content">
    <app-user-steps-week [steps]="user.steps" [userid]="user.$key"
                         (selectedDay)="daySelected($event)"></app-user-steps-week>
    <app-user-steps [steps]="user.steps" [day]="selectedDays[user.$key]"></app-user-steps>
  </div>
  -->

</div>




