@import '../../scss/colors';
@import '../../scss/mixins';

.tile {
  background-color: $recess_base_2;
  padding: 1rem;
  margin-bottom: 1rem;
  @include border-radius(0.1rem);
  width: 100%;
}

.tile-header {
  @include flex('row');
}

.tile-header__title {
  font-weight: 600;
}

.tile-header__actions {
  align-self: flex-end;
  text-align: right;
}

.tile-header__content {

}
