@import '../../scss/colors';
@import '../../scss/mixins';


.sidebar__title {
  padding: 0 2rem;
  @include flex('row');
  justify-content: flex-start;
  margin-bottom: 1rem;
  i {
    padding-right: 0.5rem;
  }
}


.tile {
  background-color: $recess_base_contrast_2;
  padding: 1rem;
  margin-bottom: 1rem;
  @include border-radius(0.1rem);
  width: 100%;
}

.tile-header {
  @include flex();
}

.tile-header__title {
  @include flex('row');
  justify-content: flex-start;
  width: 100%;
  height: 4rem;
  align-items: flex-start;
  span {
    //font-weight: 600;
  }

}

.title--active {

  border-left: 0.5rem solid $primary_recess;
}

.title-header-title__icon {
  background-color: $recess_base_contrast_3;
  @include flex();
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  width: 3rem;

}

.title-header-title__info {
  @include flex();
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1rem;
  width: 100%;
  height: 3rem;
  cursor: pointer;

  div {
    width: 100%;
  }

}

.title-header-title-info__uid {
  font-weight: 400;
  color: $recess_base_1;

}

.title-header-title-info__nickname {
  font-weight: 400;
  color: $primary_recess;
}

.title-header-title-info__device {
  span {
    font-weight: 400;
    color: $recess_base_1;
  }
}

.title-header__stats {
  background-color: blue;
  width: 100%;
  @include flex('row');
  justify-content: flex-start;
}

.tile-header__actions {
  align-self: flex-end;
  text-align: right;
}

.tile-header__content {

}
