<div class="dashboard">
  <section class="sidebar">
    <header class="sidebar__header">
      <a [routerLink]="['/dashboard']">
        <span class="sidebar__header__logo">
          <img src="assets/recess_logo_r_transparent_100x100.png"/>
          <span>ecess</span><span class="dot">.</span>
        </span>
      </a>

    </header>
    <span class="sidebar__title">
      <i class="material-icons">group</i>
      Participants
    </span>
    <app-user-list class="content__userlist" (notify)='onNotify($event)'></app-user-list>
  </section>

  <section class="context">

    <router-outlet></router-outlet>

  </section>


</div>




